.signin{
    width: 120px;
    height: auto;
    border: none;
    background-color: #76D7C4;
}


.sidebar{
    width: 250px;
    background-color:white;
    height: 100%;
    top: 106px;
    left: 0;
    position: fixed;

}


